<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="">
      </a>
    </div>
  </div>
</nav>

<div class="container theme-showcase" role="main">
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-xs-12 col-md-8">
       <div class="jumbotron">
          <h1>Latest News</h1>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="well">
        <div class="typeform-widget" data-url="https://benebreit.typeform.com/to/LH8R0s" style="width: 100%; height: 500px;" > </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;" > powered by <a href="https://www.typeform.com/examples/?utm_campaign=LH8R0s&amp;utm_source=typeform.com-7239634-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
      </div>
    </div>
  </div>

  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!!
    </h1>
    <alert type="success">{{number}}</alert>
    <div class="alert alert-info" role="alert">
    <button  class="btn btn-default" type="submit" (click)="countUpNumber()">Plus 1</button>
  </div>
</div>
